html {
	font-family: Arial, Regular;
	font-size: 20px;
	color: #000000;
}

.container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dashboard {
	display: flex;
	flex-flow: column nowrap;
}

.dashboard span {
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid 1px #565656;
	height: 50px;
}

.dashboard div:nth-of-type(1) span:first-of-type {
	border-top-left-radius: 15px;
}

.dashboard div:nth-of-type(1) span:last-of-type {
	border-top-right-radius: 15px;
}

.dashboard div:nth-of-type(2n) span:first-of-type {
	border-bottom-left-radius: 15px;
}

.dashboard div:nth-of-type(2n) span:last-of-type {
	border-bottom-right-radius: 15px;
}

.names {
	display: flex;
	align-items: center;
}

.names span {
	background: #d7d7d7;
}

.status {
	display: flex;
	align-items: center;
}

.status span.free {
	background: #72dae1;
}

.status span.busy {
	background: #ea96b4;
}
